<!--- Declares HTMLS document type -->
<!DOCTYPE html>

<!-- Root element of the page -->
 <html>

 <head>
    <!--- Ensures correct character encoding -->
    <meta charset = "UTF-8">

    <!-- Text is shown on the browser tab -->
     <title> Handwritten Notes UI</title>

    <!-- CSS -->
    <link
        rel = "stylesheet"
        href = "{{ url_for('static', filename = 'css/style.css') }}">
 </head>

<!-- js -->
<script src = "{{ url_for('static', filename = 'js/app.js')}}"></script>

<!-- CSS -->
<script src = "{{ url_for('static', filename = 'css/style.css')}}"></script>

<body>
    <div class = "container">
        <h1> Uploading Handwriting Sample</h1>

        <form 
            action = "/upload_template"
            method = "post"
            enctype = "multipart/form-data"
        >

            <input 
                type = "file"
                name = "template"
                accept = "image/*"
                required
            >

            <!-- Triggers form submission -->
            <button 
                id = "segment-btn"
                class = "btn-custom"
                type = "submit"
                >Segment
            </button>

            <!-- Preview for filename and thumbnail -->
            <div id = "template-preview"></div>
        </form>

        <h1>Upload Transcript</h1>

        <form 
            action = "/upload_transcript"
            method = "post"
            enctype = "multipart/form-data"
        >

            <input
                type = "file"
                name = "transcript"
                accept = ".txt"
                required
            >

            <!-- Triggers transcript upload -->
            <button
                id = "render-btn" 
                class = "btn-custom"
                type = "submit"
                >Render
            </button>

            <!-- Preview for transcript filename -->
            <div id = "transcript-preview"></div>
        </form>
    </div>
 </body>
 
 </html>